{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  </head>
  <body>
   <div class="container">
    <h3>welcome to Human Body Parts Translator</h3>
    <div class="main">
    <p>
     I will like to know you more please
    </p>
    <form action="{% url 'index' %}" method="post">

        {% csrf_token %}
        {{ profile.as_p }}
    <br>
    <button type="submit" class="submit">Sign in</button>
    </form>
    </div>
   </div>
  </body>
</html>